@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Roles";
    Layout = "_Layout";
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Normalized Name</th>
        <th scope="col">ConcurrencyStamp</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var role in Model)
    {
        <tr>
            <th scope="row">@role.Id</th>
            <td>@role.Name</td>
            <td>@role.NormalizedName</td>
            <td>@role.ConcurrencyStamp</td>
        </tr>
    }
    </tbody>
</table>