@using PontoCerto.WebApplication.Infrastructure.Extensions
@model IEnumerable<PontoCerto.WebApplication.Models.Admin.EmpresaViewModel> 

@{
    ViewBag.Title = "Empresas";
    Layout = "_Layout";
}

<div class="card mb-3">
    <div class="card-body">
        <button disabled type="button" class="btn btn-primary" asp-action="">
            Registrar uma única empresa
        </button>
        <button disabled type="button" class="btn btn-success">
            Registrar várias empresas via planilha csv
        </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Nome</th>
            <th scope="col">Cnpj</th>
            <th scope="col">Quantidade de funcionários</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            foreach (var empresa in Model)
            {
                <tr>
                    <td>@empresa.Nome</td>
                    <td>@empresa.Cnpj.FormatarCnpj()</td>
                    <td>@empresa.QuantidadeFuncionarios</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="4" class="text-center">
                    Não há empresas cadastradas
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>
