@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Perfis de Acesso";
    Layout = "_Layout";
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Normalized Name</th>
            <th scope="col">ConcurrencyStamp</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@role.NormalizedName</td>
                <td>@role.ConcurrencyStamp</td>
            </tr>
        }
        </tbody>
    </table>
</div>
