@model IEnumerable<PontoCerto.WebApplication.Models.Admin.PerfilDeAcessoDto>

@{
    ViewBag.Title = "Perfis de Acesso";
    Layout = "_Layout";
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Nome</td>
            </tr>
        }
        </tbody>
    </table>
</div>
